<div id="content">
    <div class="head_title">
        <div><img src="{{path}}/artwork/toprightmenu.gif" id="toprightmenu_icon" alt="" /></div>
        <div class="breadcrumb">
        {% for id,item in breadcrumb %}
            {%if loop.index0 != 0 %}
            <img src="{{path}}/artwork/breadcrumb_arrow.png" class="breadcrumb_arrow" alt="-"/>
            {% endif %}
            <a href="{{item}}">{{id}}</a>
        {% endfor %}
        </div>
        <div class="page_title">{{lang.title}}</div>
    </div>