<div class="config">
    <div class="configheading">
        <label for="{{data.setting}}_host">{{data.setting}}</label>
        <img src="{{path}}/artwork/tooltip_icon.gif" class="help_tip" title="{{attribute(lang, data.setting)}}" />
    </div>
    <div class="configvalue">
        {% for idx in data.item %}
            {{idx.i}}
            <input class="{{data.type}}" type="text" id="{{data.setting}}_{{idx.i}}" name="{{data.setting}}_{{idx.i}}" value="{{idx.v|raw}}" {{data.disabled}} />
            </br>
       {% endfor %}
        {% if data.disabled != "" %}
        <div class="configextra">{{lang.fileoverride}}</div>
        {% endif %}
    </div>
</div>