<div>
    <div class="box">
        <img src="{{path}}/artwork/lrg_maintenance.png" width="128" height="128" alt="{{lang.alticon}}" />
        <h1>{{lang.title}}</h1>
        <div>{{lang.msg}}</div>
    </div>