<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    messageStyle: "none",
    showMathMenu: false,
    showMathMenuMSIE: false,
    tex2jax: {inlineMath: [['$$','$$']], displayMath: [['$$$','$$$']]}
  });
</script>
<script type="text/javascript" src="{{path}}/node_modules/mathjax/MathJax.js?config=TeX-MML-AM_HTMLorMML"></script>