<script>
    var cfgRootPath = '{{path}}';
</script>
<script type="text/javascript" src="{{path}}/tools/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="{{path}}/tools/tinymce/jscripts/tiny_mce/{{data.file}}.js"></script>